<%= simple_form_for quote, html: { class: "quote form" } do |f| %>
  <%= form_error_notification(quote)%>
  <div class="flex justify-between items-end">
    <%= f.input :name, input_html: { autofocus: true },class: "flex flex-col pb-6 space-y-4" %>
    <div class="flex justify-between space-x-4">
      <%= link_to "Cancel", quotes_path, class: "border px-4 py-2 rounded-lg bg-red-300"%>
      <%= f.submit class: "border px-4 py-2 rounded-lg bg-green-300" %>
    </div>
  </div>
<% end %>