<div class="container flex flex-col space-y-8">
    <%= link_to sanitize("&larr; Back to Quotes"), quotes_path %>
    <div class= "flex flex-row items-center justify-between">
        <h1 class="text-3xl font-bold"><%= @quote.name %></h1>
        <%= link_to "New Date", new_quote_line_item_date_path(@quote), data: {turbo_frame: dom_id(LineItemDate.new)},class: "border px-4 py-2 rounded-lg bg-green-300"%>
    </div>

    <hr class="border-2 border-black/60"/>
    <%= turbo_frame_tag LineItemDate.new %>
    <%= turbo_frame_tag "line_item_dates" do %>
        <%= render @line_item_dates, quote: @quote %>
    <%end%>
</div>