<%= simple_form_for [quote, line_item_date, line_item],html: { class: "quote form" } do |f| %>

    <%=form_error_notification(line_item)%>
    <div class="flex flex-col space-y-4 w-full">
        <div class="flex flex-row space-x-4 items-end w-full">
            <%= f.input :name %>
            <%= f.input :quantity%>
            <%= f.input :unit_price%>
            <div class="flex flex-row space-x-4">
                <%= link_to "Cancel", quote_path(quote),class: "border px-4 py-2 rounded-lg bg-red-300"%>
                <%= f.submit class: "border px-4 py-2 rounded-lg bg-green-300"%>
            </div>
        </div>
        <%= f.input :description%>
    
    
<%end%>